/* ===========Import Google Fonts=========== */
    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Lato:ital,wght@0,400;0,700;1,700&display=swap');
/* ========X===Import Google Fonts===X======== */

*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

/* ===========CSS Styling Color and Fonts Deffined=========== */
    :root{
        --font-family:'Heebo', sans-serif;
        --font-weigh4:400;
        --font-weigh5:500;
        --font-weigh6:600;
        --font-weigh7:700;
        --color1: #DE3163;
        --color2: #FFFFFF;
        --color3: #ACB1B4;
        --color4: #000000;
        --color5: #737A80;
        --color6: #02121E;
        --color8: #FF0000;
        --yellow: #fffbbc;
        --lightbox: #242424;
        --bgColor:#E9F7EF;
        --box-shadow: 0 0 20px rgb(0 0 0 / 5%);
        --box-shadowcard:  0 4px 16px rgb(0 0 0 / 10%);
    }
/* ========X===CSS Styling Color and Fonts Deffined===X======== */

/* ==========Comman Styling========== */
    .hedding h1{
        color: var(--color1);
        font-family: var(--font-family);
        font-weight: var(--font-weigh6);
        text-align: center;
    }
    .hedding p{
        color: var(--color5);
        font-weight: var(--font-weigh5);
        font-family: var(--font-family);
        font-size: 20px;
        text-align: center;
    }
/* ======X===Comman Styling===X====== */

/* ===============NavBar Components Styling============== */
    .navbar .container-fluid{
        padding: 8px 15px;
        background-color: var(--color2);
        box-shadow: var(--box-shadow);
    }
    .navbar .container-fluid .navbar-brand{
        color: var(--color6);
        font-family: var(--font-family);
        font-weight: var(--font-weigh6);
        font-size: 22px;
    }
    .navbar .container-fluid .navbar-brand span{
        color: var(--color1);
    }
    .navbar .container-fluid .navbar-nav .nav-item .nav-link{
        color: var(--color4);
        font-size: 18px;
        padding: 8px 10px;
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
        transition: 0.4s ease-in-out;
    }
    .navbar .container-fluid .navbar-nav .nav-item .nav-link:hover{
        color: var(--color1);
    }
/* ===========X===NavBar Components Styling===X=========== */

/* ===========Home Page Styling============== */
    .home_banner{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to top, rgb(230, 233, 240,0.7) 0%, rgb(238, 241, 245,0.7) 100%), url("../assets/bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .home_banner .person_details{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home_banner .person_details .person_heading h1{
        font-family: var(--font-family);
        color: var(--color1);
        font-weight: var(--font-weigh6);
        font-size: 60px;
    }
    .home_banner .person_details .person_heading h2{
        font-family: var(--font-family);
        color: var(--color5);
        font-weight: var(--font-weigh6);
        padding-top: 10px;
    }
    .home_banner .person_details .person_heading h2 span{
        color: var(--color6);
    }
    .home_banner .person_details .person_heading .btn-r{
        font-size: 20px;
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
        border: 1px solid var(--color1);
        color: var(--color1);
        background-color: transparent;
        margin-top: 20px;
        transition: 0.4s ease-in-out;
    }
    .home_banner .person_details .person_heading .btn-r:hover{
        background-color: var(--color1);
        color: var(--color2);
    }
/* =======X===Home Page Styling===X========== */

/* ===========About Page Styling========== */
    .about_me {
        align-items: center;
        justify-content: center;
    }
    .about_me .profile_img img{
        border: 1px solid var(--color1);
        padding: 2px;
        border-radius: 5px;
    }
    .about_me h2{
        font-family: var(--font-family);
        font-weight: var(--font-weigh6);
        color: var(--color1);
    }
    .about_me h3{
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
        color: var(--color1);
    }
    .about_me p{
        font-weight: var(--font-weigh7);
        color: var(--color4);
        text-align: justify;
    }
    .about_me ul {
        list-style-type: square;
    }
    .about_me ul li{
        color: var(--color4);
        margin-bottom: 10px;
        font-weight: var(--font-weigh7);
    }
    .about_me ul li span{
        color: var(--color1);
        font-size: 18px;
        font-weight: var(--font-weigh7);
    }
/* =======X===About Page Styling===X====== */

/* ===========Skills Page Styling============ */
    .skills .skill p{
        font-weight: var(--font-weigh7);
        font-size: 18px;
        margin-top: 20px;
        color: var(--color6);
    }
    .progress-bar {
        background-color: var(--color1);
    }
/* ========X==Skills Page Styling==X========= */

/* ============Eduction Details Page========= */
    .eduction h2{
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
        color: var(--color1);
        padding: 3px;
    }
    .eduction h3{
        font-weight: var(--font-weigh7);
        color: var(--color6);
        padding: 3px;
    }
    .eduction p{
        font-weight: var(--font-weigh4);
        color: var(--color4);
        padding: 3px;
        font-size: 18px;
    }
/* ========X===Eduction Details Page===X===== */

/* ===========Project Details Page========== */
    .projects .card .card-body h2{
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
        color: var(--color6);
    }
    .projects .card .card-body button{
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
        border: 1px solid var(--color1);
        font-size: 18px;
        color: var(--color1);
        background-color: transparent;
        margin-top: 10px;
        transition: 0.4s ease-in-out;
    }
    .projects .card .card-body button:hover{
        background-color: var(--color1);
        color: var(--color2);
    }
/* =======X===Project Details Page===X====== */

/* ===========Contact Us Page Styling========== */
    .contact .col-xl-4{
        padding: 20px;
        text-align: center;
        margin: 10px;
        box-shadow: var(--box-shadowcard);
        border-radius: 5px;
    }
    .contact .col-xl-4 .fa{
        font-size: 22px;
        padding: 10px 13px;
        background-color: var(--color1);
        color: var(--color2);
        border-radius: 50%;
        margin-bottom: 20px;
    }
    .contact .col-xl-4 h4{
        color: var(--color6);
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
    }
    .contact .col-xl-4 p{
        color: var(--color4);
        font-size: 18px;
    }
/* =======X===Contact Us Page Styling===X====== */